/* Navbar */

@keyframes slideInDown {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
    }
}

.appbar {
  animation: slideInDown 2s ease-out;
}

.home-button {
  margin-right: auto; /* Pushes the "Home" button to the left */
}

.spacer {
  flex-grow: 1; /* Spreads out the space between the "Home" button and the other buttons */
}